@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.titulo {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.barraPostagens {
    font-family: 'Poppins', sans-serif;
    background-color: #F99526;
    color: antiquewhite;
    font-weight: bold !important;
    font-size: 32em !important;
}