.box1 {
    background-color: #e5005f;
    height: 120px;
}

.box2 {
    background-color: #a93410;
    height: 60px;
}

.redes-sociais {
    font-size: 60px !important;
    color: #f99526;
}

.textos {
    color: #fee268;
}