.caixa {
    background-color: #bd0505;
}

.titulo {
    color: #f99526 !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #e5005f;
    color: #f99526 !important;
}

.postagens {
    background-color: antiquewhite;
}