@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.imagem2 {
    background-image: url(/src/assets/images/FotoRetro\ -007.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: #bd0505 !important;
    color: white !important;
    font-family: 'Poppins', sans-serif;
}